@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
body {
    font-family: 'Noto Sans KR';
    background: rgb(39, 39, 58);
    margin: 0px;
}

header {
    color: white;
    background-color: rgb(23, 23, 32);
    text-align: left;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 320px;
}

article {
    display: flex;
    flex-wrap: wrap
}

a {
    color: white;
    text-decoration: none;
}

.a-black {
    color: black;
}

#change-lang {
    padding-right: 30px;
}

.fas {
    margin-right: 5px;
}

.mod {
    width: calc(25% - 30px);
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    height: 200px;
    min-width: 300px;
    position: relative;
}

.mod-title {
    background-color: #666675;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -10px;
    border-radius: 5px 5px 0 0;
}

.mod-name {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    width: calc(300px - 54px);
}

.mod-download {
    padding: 15px;
    transition-duration: 0.2s;
}

.mod-download:hover {
    transform: scale(1.1);
}

.mod-version {
    float: right;
    font-size: 0.75em;
    color: gray;
    margin-left: 3px;
}

.mod-function {
    padding-top: 10px;
}

.mod-footer {
    position: absolute;
    bottom: 1em;
    width: 92%;
}

.mod-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0px;
    margin-top: 10px;
}

.mod-more {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    width: 6em;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s cubic-bezier(0, 0.65, 0, 0.96);
}

.mod-more:hover {
    font-weight: bold;
    transform: scale(1.0);
}