/* Global styles are saved in this stylesheet */


/* Font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* Default body */

body {
    background: #2C2C44;
    margin: 0;
    font-family: 'Noto Sans KR';
}


/* Hide Link Style */

a {
    color: white;
    text-decoration: none;
}


/* Header element of this page */

header {
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#title {
    font-size: 2em;
    white-space: pre;
    margin-right: 90px;
    margin-left: 20px;
}


/* A sidebar menu */

side {
    width: 185px;
    height: calc(100% - 100px);
    bottom: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    overflow-x: hidden;
}


/* Horizontal Line */

hr {
    border: 0;
    background: gray;
    height: 1px;
}


/* Search Bar */

#search-bar {
    display: flex;
    align-items: center;
    width: calc(100% - 170px);
}

#search {
    height: 45px;
    border-radius: 22px;
    border: 0;
    padding: 10px;
    font-size: 1.25em;
    margin-right: 20px;
    width: 100%;
    min-width: 315px;
}

.searched {
    background-color: rgba(26, 10, 85, 0.5);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
}


/* Search Mode Buttons (in sidebar) */

#search-mode {
    color: white;
    display: flex;
    flex-direction: column;
}


/* Links (in sidebar) */


/* #links {
    display: flex;
} */

.circle {
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10em;
    border: 1px solid white;
    margin-top: 10px;
    transition: 0.2s;
    overflow: hidden;
    padding-left: 15px;
    white-space:nowrap;
}

.circle:hover {
    background-color: rgba(255, 255, 255);
    color: #2C2C44;
}
/* FontAwsome Icons */

.fas,
.fab {
    margin-right: 5px;
}

.fa-search {
    color: white;
}


/* Just Color */

.black {
    color: black;
}

.white {
    color: white;
}


/* Change Language button */

#change-lang {
    padding-right: 30px;
}