/* Global styles are saved in this stylesheet */


/* Font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* Default body */

html {
    height: 100%;
}

body {
    background: #2C2C44;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
}


/* Hide Link Style */

a {
    color: white;
    text-decoration: none;
}


/* Header element of this page */

header {
    height: 70px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

#title {
    font-size: 2em;
    white-space: pre;
    margin-right: 90px;
    margin-left: 20px;
}


/* A sidebar menu */

side {
    width: 185px;
    height: calc(100% - 100px);
    bottom: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    overflow-x: hidden;
}


/* Each element wrapper in the modlist */

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 225px;
    height: calc(100% - 70px);
    background-color: #424261;
    border-top-left-radius: 10px;
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 20%);
    align-content: flex-start;
    overflow: overlay;
    scrollbar-width: none;
    /* Firefox */
}


/* Hide Scrollbar (Chrome, Safari, Opera) */

main::-webkit-scrollbar {
    display: none;
}


/* Horizontal Line */

hr {
    border: 0;
    background: gray;
    height: 1px;
}


/* Search Bar */

#search-bar {
    display: flex;
    align-items: center;
    width: calc(100% - 170px);
}

#search {
    height: 45px;
    border-radius: 22px;
    border: 0;
    padding: 10px;
    font-size: 1.25em;
    margin-right: 20px;
    width: 100%;
    min-width: 315px;
}

.searched {
    background-color: rgb(0 0 0 / 26%);;
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
}


/* Search Mode Buttons (in sidebar) */

#search-mode {
    color: white;
    display: flex;
    flex-direction: column;
}

#search-mode div {
    width: 170px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.2s;
    background-color: #424261;
}

#search-mode div:hover {
    background-color: #58587a;
}

#search-mode div input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

#search-mode div input+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#search-mode div input+label:before {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: #fafafa00;
    border-radius: 100em;
}

#search-mode div input:checked+label:before {
    background: #e9ecee;
}


/* Buttons (in sidebar) */

.circle {
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10em;
    border: 1px solid white;
    margin-top: 10px;
    transition: 0.2s;
    overflow: hidden;
    padding-left: 15px;
    white-space: nowrap;
    color: white;
}

.circle:hover {
    background-color: rgba(255, 255, 255);
    color: #2C2C44;
}

.side-hr {
    background: rgba(255, 255, 255, 0.432);
    margin-block-start: calc(0.5em + 3px)
}

@media(max-height: 400px) {
    #github {
        display: none;
    }
}

@media(max-height: 300px) {
    #button-hr,
    #manage-button {
        display: none;
    }
}


/* FontAwsome Icons */

.fas,
.fab,
.far {
    margin-right: 5px;
}

.fa-search {
    color: white;
}


/* Just Color */

.black {
    color: black;
}

.white {
    color: white;
}


/* Change Cursor */

.cursor-pointer {
    cursor: pointer;
}