/* Global styles are saved in this stylesheet */


/* Font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');


/* Theme Color */
/* Default Theme - Comet */

.theme-comet {
    --body-bg-color: #2C2C44;
    --main-bg-color: #424261;
    --side-section-bg-color: #4242616e;
    --defalut-hover-bg-color: #00000042;

    --default-text-color: #fff;
    --translucent-text-color: #ffffff80;

    --circle-border-color: #fff;
    --circle-hover-bg-color: #fff;

    --hr-color: #ffffff80;
    --checked-color: #e9ecee;

    --manage-article-bg-color: #474765;
    --manage-article-hover-bg-color: #515170;
    --manage-footer-bg-color: #3c3c57;
    --manage-footer-hover-bg-color: #474768;
    --manage-form-bg-color: #fff;
    --manage-form-hover-bg-color: #ffffffcc;
}


/* Default body */

html {
    height: 100%;
}

body {
    background: var(--body-bg-color);
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
    scrollbar-width: none; 
}


/* Hide Link Style */

a {
    color: var(--default-text-color);
    text-decoration: none;
}


/* Header element of this page */

header {
    height: 70px;
    color: var(--default-text-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

#title {
    font-size: 2em;
    color: var(--default-text-color);
    padding-top: 10px;

}


/* A sidebar menu */

side {
    width: 185px;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    overflow-x: hidden;
}


/* Each element wrapper in the modlist */

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 225px;
    height: calc(100% - 70px);
    background-color: var(--main-bg-color);
    border-top-left-radius: 10px;
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 20%);
    align-content: flex-start;
    overflow: overlay;
    scrollbar-width: none;/* Firefox */
}


/* Hide Scrollbar (Chrome, Safari, Opera) */

main::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}


/* Horizontal Line */

hr {
    border: 0;
    background: gray;
    height: 1px;
}


/* Search Bar */

#search-bar {
    display: flex;
    align-items: center;
    width: calc(100% - 225px);
    margin-left: 117px;
}

#search {
    height: 45px;
    border-radius: 22px;
    border: 0;
    padding: 10px;
    font-size: 1.25em;
    margin-right: 20px;
    width: 100%;
    min-width: 315px;
}

.searched {
    background-color: var(--defalut-hover-bg-color);
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    margin-right: 3px;
}


/* Search Mode Buttons (in sidebar) */

#search-mode {
    color: var(--default-text-color);
    display: flex;
    flex-direction: column;
}

#search-mode div {
    width: 170px;
    margin-bottom: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.2s;
    background-color: var(--main-bg-color);
}

#search-mode div:hover {
    background-color: var(--defalut-hover-bg-color);
}

#search-mode div input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

#search-mode div input+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#search-mode div input+label:before {
    content: ' ';
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    border-radius: 100em;
}

#search-mode div input:checked+label:before {
    background: var(--checked-color);
}


/* Buttons (in sidebar) */

.circle {
    width: 170px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10em;
    border: 1px solid var(--checked-color);
    margin-top: 10px;
    transition: 0.2s;
    overflow: hidden;
    padding-left: 15px;
    white-space: nowrap;
    color: var(--default-text-color);
}

.circle:hover {
    background-color: var(--circle-hover-bg-color);
    color: var(--body-bg-color);
}

.side-hr {
    background: var(--hr-color);
    margin-block-start: calc(0.5em + 3px)
}

@media(max-height: 400px) {
    #github {
        display: none;
    }
}

@media(max-height: 300px) {
    #button-hr,
    #manage-button {
        display: none;
    }
}


/* Loader */

.loader {
    border: 16px solid var(--circle-border-color);
    border-top: 16px solid var(--body-bg-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s cubic-bezier(0.4, 0.49, 0.75, 0.46) infinite;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* FontAwsome Icons */

.fas,
.fab,
.far {
    margin-right: 5px;
}

.fa-search {
    color: var(--default-text-color);
}


/* Just Color */

.black {
    color: black;
}

.white {
    color: white;
}


/* Change Cursor */

.cursor-pointer {
    cursor: pointer;
}

/* Do not change cursor style and show selection */

.no-drag {
    cursor: default;
    user-select: none;
}