/* This stylesheet is for manage*.ejs */


/* My Mods Status (in sidebar) */

#side-header {
    width: 100%;
}

details {
    margin: 5px 0 10px;
}

details summary {
    background: var(--side-section-bg-color);
    color: var(--default-text-color);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    outline: 0;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    text-align: left;
}


/* Discord Profile(avatar, name) (in sidebar) */

#profile,
#mods-status {
    width: calc(100% - 30px);
    background-color: var(--side-section-bg-color);
    color: var(--default-text-color);
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#mods-status {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10px;
}

#avatar {
    width: 130px;
    border-radius: 100%;
}

#username {
    font-weight: bold;
    font-size: 1.25em;
    text-align: center;
}

#discord-id {
    font-size: 0.75em;
    margin-top: 3px;
}

#mod-amount {
    font-size: 2em;
    font-weight: bold;
}


/* Mod List */

main {
    justify-content: center;
}


/* Mod articles */

article {
    width: 100%;
    margin: 10px;
    margin-bottom: 0;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--manage-article-bg-color);
    color: white;
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 10%);
    transition: 0.2s;
}

article:hover {
    background-color: var(--manage-article-hover-bg-color);
}

.article-buttons {
    display: flex;
}

.mod-title {
    font-size: 1.5em;
    font-weight: bold;
}

.mod-version {
    color: var(--translucent-text-color);
}

article .fas,
article .fab,
article .far {
    margin-right: 0;
    margin-left: 15px;
}

/* Add Mod Button (in main) */

footer {
    width: 400px;
    bottom: -10px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
    border-radius: 10px;
    position: fixed;
    display: flex;
    justify-content: center;
    background-color: var(--manage-footer-bg-color);
    color: var(--default-text-color);
    box-shadow: #00000054 0 -4px 16px 0;
    transition: 0.2s;
}

footer:hover {
    background-color: var(--manage-footer-hover-bg-color);
}

#add-mod-button div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.1em;
    font-weight: bold;
}


/* Add Mod Section */

#add-mod-section {
    color: var(--default-text-color);
}

#add-title {
    margin: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
}

/* Add Mod Form  */

#add-mod-form {
    width: 80%;
}

#add-mod-form hr {
    background-color: var(--hr-color);
}

#add-mod-header {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 40px;
}

#add-mod-header h1 {
    width: 187px;
    margin: 0;
}

#add-mod-form label {
    margin-bottom: 5px;
}

#add-mod-form input,
#add-mod-form textarea,
#add-mod-form select,
#add-mod-form button {
    width: calc(100% - 10px);
    padding: 8px 5px;
    border-radius: 5px;
    border: 0;
    font-family: 'Noto Sans KR', sans-serif;
    transition: 0.2s;
    background-color: var(--manage-form-bg-color);
}

#add-mod-form input:focus,
#add-mod-form textarea:focus {
    background: var(--manage-form-hover-bg-color);
}

#add-mod-form select {
    width: 100%;
}

#add-mod-form button {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
}

#add-mod-form textarea {
    resize: none;
    height: 100px;
}

#header-align {
    width: 187px;
}

.fieldwrapper {
    display: flex;
}

#form-align {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#form-align .form-group {
    width: 50%;
    margin-right: 30px;
}

.no-form-margin {
    margin-right: 0!important;
}

.form-group {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

/* Loading Scene */

#loading-scene {
    align-content: center;
}

/* Hide/Show Main */

@keyframes hide-main {
    from {
        height: calc(100% - 70px);
        opacity: 100%;
        visibility: visible;
        
    }
    to  {
        opacity: 0%;
        height: 0;
    }
}

@keyframes show-main {
    from {
        opacity: 0%;
        height: 0;
    }
    to {
        height: calc(100% - 70px);
        opacity: 100%;
        visibility: visible;
    }
}

.hide-animation {
    animation-name: hide-main;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.show-animation {
    animation-name: show-main;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.hide {
    display: none;
}