/* Mod article styles are saved in this stylesheet */


/* Each element wrapper in the modlist */

main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 225px;
    height: calc(100% - 70px);
    background-color: #424261;
    border-top-left-radius: 10px;
    box-shadow: 2px 2px 6px 0 rgb(0 0 0 / 20%);
    align-content: flex-start;
    overflow: overlay;
    scrollbar-width: none; /* Firefox */
}

/* Hide Scrollbar (Chrome, Safari, Opera) */
main::-webkit-scrollbar {
    display: none; 
}

/* Do not change cursor style and show selection */

.no-drag {
    cursor: default;
    user-select: none;
}


/* Mod article styles */

.mod {
    width: calc(31.5% - 30px);
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    margin: 15px;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    height: 200px;
    min-width: 279px;
    position: relative;
    transition: 0.2s;
}

.mod-title {
    background-color: #767695;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -10px;
    border-radius: 5px 5px 0 0;
}

.mod-name {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    width: calc(300px - 54px);
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

.mod-download {
    padding: 15px;
    transition-duration: 0.2s;
}

.mod-download:hover {
    transform: scale(1.1);
}

.mod-version {
    float: right;
    font-size: 0.75em;
    color: gray;
    margin-left: 3px;
}

.mod-feature {
    padding-top: 10px;
}

.mod-footer {
    position: absolute;
    bottom: 10px;
    width: 92%;
}

.mod-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    margin-top: 10px;
}

.mod-more {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    width: 6em;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s cubic-bezier(0, 0.65, 0, 0.96);
}

.mod-more:hover {
    font-weight: bold;
    transform: scale(1.025);
}