/* Global styles are saved in this stylesheet */


/* Font */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* Default body */

body {
    background: #2C2C44;
    margin: 0;
    font-family: 'Noto Sans KR';
}


/* Hide Link Style */

a {
    color: white;
    text-decoration: none;
}


/* Header element of this page */

header {
    height: 70px;
    color: white;
    background-color: rgb(44, 44, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}


/* A sidebar menu */

side {
    width: 185px;
    height: calc(100% - 100px);
    bottom: 0;
    left: 0;
    background-color: rgb(44, 44, 68);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow-x: hidden;
}

hr {
    border: 0;
    background: gray;
    height: 1px;
}

#title {
    font-size: 2em;
    white-space: pre;
    margin-right: 15px;
    margin-left: 20px;
    visibility: hidden;
}

#search-bar {
    display: flex;
    align-items: center;
    width: calc(100% - 170px);
}

#search {
    height: 45px;
    border-radius: 22px;
    border: 0;
    padding: 10px;
    font-size: 1.25em;
    margin-right: 20px;
    width: 100%;
}

.fa-search {
    color: white;
}


/* fas, fab icon */

.fas,
.fab {
    margin-right: 5px;
}


/* Black text */

.black {
    color: black;
}


/* Change Language button */

#change-lang {
    padding-right: 30px;
}


/* Visit github repository button */

#github {
    padding-right: 30px;
}