/* Global styles are saved in this stylesheet */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

/* Default body */
body {
    font-family: 'Noto Sans KR';
    background: #2C2C44;
    margin: 0px;
}

/* Hide Links */
a {
    color: white;
    text-decoration: none;
}

/* Header element of this page */
header {
    color: white;
    background-color: rgb(44, 44, 68);
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

/* Black text */
.black {
    color: black;
}

/* Links in the header */
#header-links {
    display: flex;
    align-items: center;
}

/* Change Language button */
#change-lang {
    padding-right: 30px;
}

/* Visit github repository button */
#github {
    padding-right: 30px;
}